debugpy==1.8.20
idna==3.11
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
matplotlib-stubs==0.3.11
nest-asyncio==1.6.0
numpy==2.4.2
packaging==26.0
pandas==3.0.0
parso==0.8.5
pillow==12.1.0
platformdirs==4.5.1
prompt_toolkit==3.0.52
python-dateutil==2.9.0.post0
pyzmq==27.1.0
requests==2.32.5
six==1.17.0
stack-data==0.6.3
traitlets==5.14.3